<head>
  <meta charset='utf-8'>
  <meta content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no' name='viewport'>
  <meta content='ja_JP' property='og:locale'>
  <meta content='website' property='og:type'>
  <meta content='HASH365[ハッシュ365]' property='og:site_name'>
  <meta content='HASH365（ハッシュ365）を使えば、誰でも簡単にフォロワーを増やすことができます。ハッシュタグを指定すると、HASH365があなたのインスタグラムを運用し、フォロワーと投稿へのいいねが増えていきます。' property='og:description'>
  <meta content='HASH365（ハッシュ365）を使えば、誰でも簡単にフォロワーを増やすことができます。ハッシュタグを指定すると、HASH365があなたのインスタグラムを運用し、フォロワーと投稿へのいいねが増えていきます。' name='description'>
  <meta content='' property='og:title'>
  <%= content_for :title do %>
    HASH365[ハッシュ365]
  <% end %>
  <meta content='noindex, nofollow' name='robots'>
  <% content_for :css do %>
    <%= stylesheet_link_tag 'index' %>
  <% end %>

  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="RFcL6TbCyxD2221mpzn8P3wJWgTzqjC/8Z8zaLUNBh0Z3WssjoxRyZc+mDh6VrI8D1j0ppYg9NvgOQYqnW/qdw==" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>
  <script crossorigin='anonymous' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <div class='notice_alert'>
    <p>
      <i class="fa fa-exclamation-circle"></i>
      <span>
        【重要】メールに送信される『不審なログイン』通知は弊社システムによるログインなので無視してください。不審と判断されるのはお客様の携帯以外から弊社が自動アクションを行うため代理でアクセスしたため、確認のための通知です。また、インスタのアプリ側で表示されるログイン確認は『自分が実行したものです』を必ず選択してください
      </span>
    </p>
    <div class='unkownn_login_img'>
      <img src='https://partner-setting.s3-ap-northeast-1.amazonaws.com/static/unknown_login_app.png'>
      <img src='https://partner-setting.s3-ap-northeast-1.amazonaws.com/static/unknown_login_mail.png'>
    </div>
  </div>
  <div class='white_pay_modal'>
    <div class='pay_appeal'>
      <h5>
        無料お試し期間が終了しました。
      </h5>
      <p>
        引き続きサービスをご利用いただくには
        <br>
        こちらからプランの変更を行ってください。
      </p>
      <a class='btn btn-appeal' href='/subscriptions?from=modal'>
        プランを変更する
      </a>
      <button class='btn_pay_modal_close'>
        今はしない
      </button>
      <div class='clearfix'></div>
    </div>
  </div>
  <div class='white_recursion_modal'>
    <div class='recursion_appeal'>
      <h5>
        有料プランの期限が間もなく終了します。
      </h5>
      <p>
        引き続きサービスをご利用いただくには
        <br>
        こちらから自動更新の設定を行ってください。
      </p>
      <a class='btn btn-appeal' href='/subscriptions/settings/auto_charge?from=modal'>
        自動更新の設定をする
      </a>
      <button class='btn_recursion_modal_close'>
        今はしない
      </button>
      <div class='clearfix'></div>
    </div>
  </div>
  <div class='white_modal'>
    <div class='tutorial'>
      <div class='step1'>
        <div class='tutorial_header'>
          <h4>
            フォロワーを増やす手順
          </h4>
          <span class='current'>
            STEP1
          </span>
          <span>
            STEP2
          </span>
        </div>
        <h5>
          インスタグラムのアカウントが非公開になっていませんか？
        </h5>
        <p class='tutorial_desc'>
          せっかく自動でいいねを残してもあなたのプロフィールが非公開になっていては、フォロワーは増えません。<br />非公開になっている場合は必ず解除しましょう。<br />
        </p>
        <center>
          <img src='/img/users/insta_tutorial_01_ja.png'>
        </center>
        <button class='btn btn-primary btn-block end_step1'>
          次へ
        </button>
      </div>
      <div class='step2 hide'>
        <div class='tutorial_header'>
          <h4>
            フォロワーを増やす手順
          </h4>
          <span>
            STEP1
          </span>
          <span class='current'>
            STEP2
          </span>
        </div>
        <h5>
          まずはハッシュタグを登録しましょう
        </h5>
        <button class='btn btn-primary btn-block end_step2'>
          ハッシュタグを登録する
        </button>
      </div>
    </div>
  </div>
  <div class='auto_like_start hide' data-text='「アクションログ」をタップしてください。'>
    <p>
      自動いいねが始まりました
    </p>
    <p>
      どんな写真にいいねしているかを確認するには
    </p>
    <p>
      こちらをタップしてみてください。
    </p>
  </div>
  <%= render partial: "layouts/templete/header" %>
  <div class='container'>
      <div class='row'>
        <div class='col-md-12 user_main'>
          <div class='row upper'>
            <div class='col-md-6 col-sm-6'>
              <div class='row'>
                <div class='user_meta col-md-6 col-sm-6 col-xs-6'>
                  <div class='profile'>
                    <img class='user_thumbnail' src='https://instagram.fplu8-1.fna.fbcdn.net/v/t51.2885-19/44884218_345707102882519_2446069589734326272_n.jpg?_nc_ht=instagram.fplu8-1.fna.fbcdn.net&amp;_nc_ohc=Bm3cx4d7KpcAX9WqCTG&amp;edm=ALlQn9MBAAAA&amp;ccb=7-4&amp;oh=9233bbf9cfc4dcc785c3a54f0bbc4781&amp;oe=60BCD84F&amp;_nc_sid=48a2a6&amp;ig_cache_key=YW5vbnltb3VzX3Byb2ZpbGVfcGlj.2-ccb7-4'>
                    <p class='name'>
                      aaa_xmxbchdids
                    </p>
                  </div>
                </div>
                <div class='current_plan col-md-6 col-sm-6 col-xs-6'>
                  <div class='wrap'>
                    <div class='title'>
                      現在のプラン
                    </div>
                    <div class='plan'>
                      無料お試し
                    </div>
                    <a class='change_plan' href='/pages/:id/change'>
                      変更
                    </a>
                    <div class='time'>
                      <p>
                        有効期限:
                        2021/6/6
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='number_wrap col-md-6 col-sm-6 col-xs-6'>
                  <div class='follower'>
                    <div class='title'>
                      フォロワー
                    </div>
                    <span class='count'>
                      0
                    </span>
                  </div>
                </div>
                <div class='number_wrap col-md-6 col-sm-6 col-xs-6'>
                  <div class='follow'>
                    <div class='title'>
                      自動アクション
                    </div>
                    <span class='count'>
                      <i class="fa fa-heart heart"></i>
                      0
                      <span>
                        (6/2)
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class='button_wrap col-md-6 col-sm-6 col-xs-6'>
                  <a class='btn btn-primary btn-sm btn-block btn_follower_report' href='/pages/analytics'>
                    フォロワーレポート
                  </a>
                </div>
                <div class='button_wrap col-md-6 col-sm-6 col-xs-6'>
                  <a class='btn btn-primary btn-sm btn-block btn-activity' href='/pages/:id/activity'>
                    アクションログ
                  </a>
                </div>
              </div>
            </div>
            <div class='col-md-6 col-sm-6'>
              <h2 class='pc_no_margin_top' id='hash_tag'>
                ハッシュタグ設定
              </h2>
              <div class='tag_search'>
                <p class='tag_desc'>
                  こちらに登録したハッシュタグがついている写真に対して自動いいね、フォローを行います。
                  <br>
                  フォローして欲しいユーザーが投稿しそうなハッシュタグを登録しましょう。
                </p>
                <%# ハッシュタグの入力 %>
                    <%= form_with(model: @hashtag, url: instabots_hashtag_path, id: :hashform, method: :post ,local: true) do |f| %>
                      <%= f.text_field :hashtag, autocomplete: :on, placeholder: "追加したいタグ名を入力してください", style: "width:  31.3vw; height: 4.1vw; opacity: 1; position: relative; left: 0px; text-align: center;" %>
                      <%= f.submit "送信", id: :hashsend, style: "display: none;" %>
                    <% end %>
                <div class='selected_tag'>
                  <span class='title'>
                    登録中のハッシュタグ
                  </span>
                  <ul>
                    <% if @key_words.present? %>
                      <% @key_words.each do |key_word| %>
                        <li class="tag_list">
                          <%= key_word.hashtag %>
                          <a href="hashtags/delete/<%= key_word.id %>" data-keyword="<%= key_word.hashtag %>" data-method="delete" rel="nofollow" class="fa fa-close delete_keyword"></a>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                  
                    <%
=begin%>
 <% if @key_words.present? %>
                      <% @key_words.each do |key_word| %>
                        <%= form_with( url: "hashtags/delete/#{key_word.id}", class: "tag_delete", method: :post, local: true ) do |f| %>
                          <input type="hidden" name="hashtag[hashtag]" value="<%= key_word.hashtag %>">
                          <li class="tag_list">
                            <span id="key_word_target">
                              <%= key_word.hashtag %>
                            </span>
                            <a href="javascript:form1.submit()" class="fa fa-close delete_keyword"></a>
                          </li>
                        <% end %>
                      <% end %> 
                    <% end %> 
<%
=end%>
                </div>
              </div>
              <div class='line_banner hidden-lg hidden-md'>
                <img class='icon_line_close' src='/img/users/icon_close_black.png'>
                <p class='line_desc'>
                  困ったことや分からないことはLINEにてお気軽にお問い合わせください。お問い合わせの際はインスタグラムのアカウント名を必ずお送り下さい。
                </p>
                <div class='example'>
                  <span>
                    (例)
                  </span>
                  <br>
                  <span>
                    ・使い方が分からない
                  </span>
                  <br>
                  <span>
                    ・フォロワーがなかなか増えない
                  </span>
                </div>
                <a href="https://line.me/ti/p/%40gxh0241p"><img class="img_line_add"  border="0" alt="友だち追加数" src="/img/users/add_friends_ja.png"></a>
              </div>
            </div>
          </div>
          <h2>
            自動アクション<span class="action_warn">（※まれに電波環境の影響で反映されない場合がございます。その際は再度操作下さい）</span>
          </h2>
          <%# いいね、フォロー、アンフォロースイッチ %>
          <div class='auto_setting'>
            <%= form_with(model: @auto, url: instabots_auto_path, method: :post, class: "auto" ,local: true) do |f| %>
              <div class='control-group'>
                <label for='auto_like'>
                  自動いいね
                  (※オンにするとインスタグラムから警告を受けたり、アクションをブロックされる可能性があります)
                </label>
                <div class="switch">
                  <label class="switch__label">
                    <%= f.check_box :good,{ class: "switch__input switch_auto good", checked: @good_check }, checked_value = "true", unchecked_value = "false" %>
                    <span class="switch__content"></span>
                    <span class="switch__circle"></span>
                  </label>
                </div>
              </div>
              <%
=begin%>
 <label class='auto_like_target_label'>一日あたりの自動いいね数設定</label>
              <div class='auto_like_target_radio'>
                <label>
                  <input checked type='radio' value='50'>
                  <%#= f.radio_button :auto_like_target, 50, checked: true %>
                  50程度
                </label>
                <label>
                  <input type='radio' value='100'>
                  <%#= f.radio_button :auto_like_target, 100  %>
                  100程度
                </label>
                <label>
                  <input type='radio' value='400'>
                  <%#= f.radio_button :auto_like_target, 400  %>
                  100以上
                </label>
              </div> 
<%
=end%>
              <div class='control-group'>
                <label for='auto_follow'>
                  自動フォロー
                  (※オンにするとインスタグラムから警告を受けたり、アクションをブロックされる可能性があります)
                </label>
                <div class="switch">
                  <label class="switch__label">
                    <%= f.check_box :follow, { class: "switch__input switch_auto follow", checked: @follow_check }, checked_value="true", unchecked_value="false" %>
                    <span class="switch__content"></span>
                    <span class="switch__circle"></span>
                  </label>
                </div>
              </div>
              <div class='control-group'>
                <label for='auto_unfollow'>
                  登録済みの自動フォロー解除
                </label>
                <div class="switch">
                  <label class="switch__label">
                    <%= f.check_box :unfollow, { class: "switch__input switch_auto unfollow", checked: @unfollow_check }, checked_value="true", unchecked_value="false" %>
                    <span class="switch__content"></span>
                    <span class="switch__circle"></span>
                  </label>
                </div>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
  
  <%= render partial: "layouts/templete/footer" %>

  <script>
    Admin.setPage("user");
    Admin.init();
  </script>
</body>
