<!DOCTYPE html>
<html lang="ja-JP">
  <head>
    <title><%= content_for?(:title) ? yield(:title) :"HASH365[ハッシュ365]" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag "application" %>
    <%= yield :javascript_includes %>
  </head>

  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= javascript_pack_tag "js/top.js" %>
    <%= javascript_pack_tag "js/jquery.js" %>
    <%= javascript_pack_tag "js/modernizr.js" %>
    <%= javascript_pack_tag "js/script.js" %>
    <%= yield %>
  </body>
</html>
