<!DOCTYPE html>
<html lang="ja-JP">
  <head>
    <title><%= content_for?(:title) ? yield(:title) :"HASH365[ハッシュ365]" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript_pack_tag %>
  </head>

  <body>
    <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <%= javascript_pack_tag "js/submit.js" %>
    <%= javascript_pack_tag "js/top.js" %>
    <%= javascript_pack_tag "js/jquery.js" %>
    <%= javascript_pack_tag "js/modernizr.js" %>
    <%= javascript_pack_tag "js/script.js" %>
    <%= render partial: "layouts/templete/notification" %>
    <%= yield %>
  </body>
</html>
